@font-face {
    font-family: 'SEGOEUIL';
    src: url('../../fonts/SEGOEUIL.eot');
    src: local('SEGOEUIL'), url('../../fonts/SEGOEUIL.woff') format('woff'), url('../../fonts/SEGOEUIL.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('../../fonts/segoeui.woff') format('woff');
}

html{
    background-image: linear-gradient(to bottom right,rgb(32, 3, 24) 0%,rgb(7, 24, 41) 76.1%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body{
    color: white;
    background: transparent;
    font-family: 'Segoe UI';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'SEGOEUIL';
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background: #32313D;
    box-shadow: 0px 10px 50px -24px rgba(120,120,120,1);
}

#login-dp .bottom{
    background-image: linear-gradient(to bottom,rgba(239, 99, 60, 0.6) 0%,rgba(241, 26, 147, 0.6) 100%);
    clear: both;
    color: white;
    padding: 14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom{
        background-color: inherit;
        border-top: 0 none;
    }
}

@media(min-width:768px){
    .centered-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}

.btn{
    border-radius: 45px;
    border: 0px;
    background: #F7F7F7;
    transition: all 0.2s ease-in-out;
    color: black;
}

.btn:hover{
    color: black;
    background: #D4D4D4;
}

.form-control {
    border-radius: 45px;
}

.form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075) !important;
    border-radius: 45px;
    box-shadow: none !important;
}

.navbar-inverse .navbar-brand{
    color: white;    
}

.body-container{
    margin-top: 75px;
}

.navbar-nav > li > a, .navbar-brand {
    line-height: 30px;
    height: 60px;
}

.navbar{
    border-radius: 0px;
    border: 0px;
}

.popcolor{
    background-image: linear-gradient(to bottom,rgb(239, 99, 60) 0%,rgb(241, 26, 147) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-header {
    border-bottom: 1px solid rgba(94,89,93,0.6);
}

.user-img-circle-large{
    margin-top: 20px;
    width: 128px;
    height: 128px;
    box-shadow: 0px 0px 0px 15px rgba(120,120,120,0.5);
}

.user-img-circle-small{
    margin: 20px;
    width: 64px;
    height: 64px;
    box-shadow: 0px 0px 0px 15px rgba(120,120,120,0.5);
}

a, a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

.navbar-inverse{
    background-color: rgba(94,89,93,0.2);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    background-color: rgba(94,89,93,0.3);
    box-shadow: inset 0px -1px 0px 0px rgb(241, 26, 147);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color: rgba(94,89,93,0.3);
    box-shadow: inset 0px 1px 0px 0px rgb(241, 26, 147);
}