body{
    background: #383838;
    color: white;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    color: black;
}

#login-dp .bottom{
    background-color: #080808;
    clear: both;
    color: white;
    padding: 14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom{
        background-color: inherit;
        border-top: 0 none;
    }
}

@media(min-width:768px){
    .centered-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}

.btn{
    border-radius: 45px;
    border: 0px;
    background: -webkit-linear-gradient(45deg, rgba(231,53,139,1) 0%, rgba(247,130,25,1) 100%);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.btn:hover{
    background: -webkit-linear-gradient(45deg, rgba(21,111,187,1) 0%, rgba(231,53,139,1) 100%);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.form-control {
    border-radius: 45px;
}

.form-control:focus {
    border-color: rgb(21,111,187);
    border-radius: 45px;
    box-shadow: inset 0 1px 1px rgba(21,111,187, 0.075), 0 0 8px rgba(21,111,187, 0.6);
}

.navbar-inverse .navbar-brand{
    color: white;    
}

.body-container{
    margin-top: 75px;
}

.navbar-nav > li > a, .navbar-brand {
    line-height: 30px;
    height: 60px;
}

.navbar{
    border-radius: 0px;
    border: 0px;
}

.popcolor{
    background-image: -webkit-linear-gradient(45deg, rgba(231,53,139,1) 0%, rgba(247,130,25,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-header {
    border-bottom: 1px solid #eee;
}

.user-img-circle-large{
    margin-top: 20px;
    width: 128px;
    height: 128px;
}

.user-img-circle-small{
    margin-top: 20px;
    width: 64px;
    height: 64px;
}

a, a:link{
    color: rgba(231,53,139,1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover{
    color: rgba(247,130,25,1);
}

